.discover {
  padding-top: 15px;
  color: var(--text-main-color-dark);
  display: grid;
  grid-template-columns: 1fr;
}

.discover-text {
  max-width: 324px;
}

.discover-image {
  grid-row: 1;
  margin: auto;
  padding-top: 20px;
}
.discover-image img {
  max-width: 224px;
}

.discover-bg {
  display: none;
}