.footer {
  position: relative;
  color: var(--text-main-color-light);
}

.footer-bg {
  position: absolute;
  background-color: #442808;
  min-height: 492px;
  min-width: 1366px;
  margin: 0 -93px;
}

.footer-bg-img {
  top: 0px;
  left: -93px;
  position: absolute;
}
.footer-bg-img img {
  opacity: 0.15;
}

.footer-bg-cover {
  display: none;
  position: absolute;
  left: -93px;
  background-color: rgba(96, 55, 9, 0.8039215686);
  min-height: 492px;
  min-width: 1366px;
}

.footer-bg-cup-left {
  display: none;
  position: absolute;
  left: -93px;
  top: -240px;
}

.footer-bg-cup-right {
  display: none;
  position: absolute;
  transform: rotateY(180deg);
  top: -240px;
  right: -93px;
}

.footer-content {
  padding-top: 25px;
  position: relative;
  display: block;
}

.footer-content-general {
  max-width: 380px;
}

.socials-link {
  padding-right: 22px;
  cursor: pointer;
}

.footer-content-general .general-title {
  color: var(--text-main-color-light);
  font-family: Clicker Script;
  font-size: 54px;
  font-weight: 400;
  line-height: 71px;
  letter-spacing: 0em;
  text-align: left;
  padding: 0;
}

.footer-content-general .general-info {
  display: none;
  color: var(--text-main-color-light);
  font-size: 12px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
}

.general-socials {
  padding-top: 20px;
  display: flex;
}

.footer-content-mutual {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer-content-about {
  display: none;
}

.footer-content-company {
  display: none;
}

.mutual-title {
  font-size: 26px;
  font-weight: 700;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: left;
}

.mutual-list {
  padding: 0;
}
.mutual-list li {
  font-size: 18px;
  font-weight: 400;
  line-height: 42px;
  letter-spacing: 0em;
  text-align: left;
}

.footer-content-contacts {
  max-width: 332px;
}