.blends {
    padding-bottom: 20px;
    color: black;
}
.blends-title {
    padding-top: 15px;
}

.blends-gallery-fs {
    display: none;
}
.mobile-blend {
    padding-top: 15px;
}

.blends-gallery-pagination {
    .swiper-pagination-bullet-active {
        background-color: var(--button-color);
    }
}
.blends-gallery-wrapper {
}
.blends-gallery-slide {
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
    button {
        margin: -25px auto;
    }
}
.gallery-blend-box {
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--blends-bg-color);
    img {
        position: static;
        max-width: 268.5px;
    }
}
.blend-title {
    padding-top: 14px;
}
.blend-content {
    padding: 6px 0;
}