@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Playfair+Display:wght@400;500;600;700&display=swap');

:root {
    --text-main-color-light: #FFFFFF;
    --text-main-color-dark: #707070;
    --text-title-color-dark: #603809;
    --button-color: #c85107;
}
body {
    font-family: 'Playfair Display', serif;
    color: var(--text-main-color-light);
    margin: 0;
    z-index: -105;
    position: relative;
    // background-color: springgreen;
}
h1, h2, h3, h4 {
    margin: 0;
}
ul {
    list-style: none;
}
button {
    font-family: 'Playfair Display', serif;
    padding: 14px 26px 13px 26px;
    border-radius: 50px;
    background-color: var(--button-color);
    cursor: pointer;
    border: 0px;
}
.global-wrapper {
    // background-color: wheat;
    position: relative;
    max-width: 1366px;
    // height: 223.38px;
    padding: 15px 25px 0 25px;
    margin: auto;
    overflow: hidden;
    // padding: 25px;
}
.darken-bg {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.897), rgba(202, 77, 98, 0));
    width: 100%;
    height: 223.38px;
    z-index: -5;
    position: absolute;
    left: 0;
}
.header-bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;
    img {
        // position: relative;
        width: 424px;
        z-index: -10;
    }
}
.general-title {
    color: var(--text-title-color-dark);
    font-size: 27px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
}
.general-info {
    color: var(--text-main-color-dark);
    font-size: 15px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0em;
    // text-align: left;
    text-align: justify;
}