@media(min-width: 375px) {
    // * COMMON
    .global-wrapper {
        padding: 20px 93px 0 93px;
        z-index: -10;
    }
    .header-bg {
        img {
            width: 1552px;
        }
    }
    .darken-bg {
        height: 853px;
    }
    .general-title {
        font-size: 54px;
        padding: 15px 0;
    }
    .general-info {
        padding: 15px 0;
        font-size: 20px;
    }
    .content-text {
        max-width: 1000px;
    }
    // * HEADER
    .header {
        padding-bottom: 41px;
    }
    .header-title {
        font-size: 35px;
    }
    .nav-list {
        display: flex;
    }
    .header-sing {
        display: flex;
        align-items: center;
        font-size: 14px;
        font-weight: 500;
        line-height: 19px;
        letter-spacing: 0em;
        text-align: left;
        p {
            padding-right: 35px;
        }
    }
    .header-burger {
        display: none;
    }
    .header-greeting-text {
        max-width: 527px;
        padding-top: 116px;
        padding-bottom: 95px;
        div {
            display: block;
        }
    }
    .greeting-text-intro {
        font-size: 22px;
        font-weight: 500;
        line-height: 29px;
        letter-spacing: 0em;
        text-align: left;
    }
    .greeting-text-title {
        font-size: 220px;
        font-weight: 400;
        line-height: 291px;
        letter-spacing: 0em;
        text-align: left;
    }
    .greeting-text-main {
        display: block;
        font-size: 20px;
        font-weight: 400;
        line-height: 34px;
        letter-spacing: 0em;
        text-align: left;
        padding-bottom: 25px;
    }
    .order-button {
        height: inherit;
        display: block;
    }
    // * DISCOVER
    .discover {
        display: flex;
        padding-top: 115px;
        position: relative;
    }
    .discover-text {
        max-width: 585px;
    }
    .discover-image {
        img {
            max-width: 100%;
        }
    }
    .discover-bg {
        display: block;
        position: absolute;
        top: 321px;
        left: -93px;
        z-index: -15;
    }
    // * BLENDS
    .blends {
        padding-bottom: 70px;
    }
    .blends-gallery-fs {
        display: block;
    }
    .blends-gallery-mb {
        display: none;
    }
    .blends-title {
        text-align: center;
    }
    .blends-info {
        text-align: center;
    }
    // * WHY
    .why-bg {
        display: block;
    }
    .why-title {
        text-align: center;
    }
    .why-info {
        text-align: center;
    }
    .why-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .why-advantage {
        padding: 40px;
    }
    // *ORDER
    .order {
        margin-top: 82px;
    }
    .order-bg {
        img {
            max-width: 1366px;
        }
    }
    .order-bg-cover {
        height: 574px;
        width: 1366px;
        left: -93px;
    }
    .order-bg-cup {
        display: block;
    }
    .order-bg-beans {
        display: block;
    }
    .order-content {
        padding: 135px 0 131px 0;
        max-width: 575px;
    }
    .content-title {
        font-size: 54px;
        line-height: 72px;
    }
    .content-text {
        padding: 22px 0;
        line-height: 34px;
        font-size: 20px;
    }
    // *FEEDBACK
    .feedback {
        padding: 82px 0 0 0;
    }
    .feedback-bg-img-right {
        display: block;
    }
    .feedback-bg-img-left {
        display: block;
    }
    .feedback-swiper-fs {
        max-width: 980px;
    }
    .feedback-data {
        padding-bottom: 100px;
    }
    .feedback-quote {
        padding: 110px 0 20px 29px;
        font-size: 220px;
    }
    .feedback-text {
        padding: 0 100px 28px 100px;
        text-align: center;
        font-size: 18px;
        margin-top: 0;
    }
    .feedback-client-data {
        h4 {
            font-size: 32px;
        }
        p {
            font-size: 20px;
        }
    }
    .feedback-button-next {
        background-color: #F9C06A;
        padding: 5px 15px;
        margin-right: 0px;
    }
    .feedback-button-prev {
        background-color: #F9C06A;
        padding: 5px 15px;
        margin-left: 0px;
    }
    // * SUSCRIBE
    .suscribe {
        margin-top: 82px;
    }
    .suscribe-content {
        padding: 80px 0;
    }
    .suscribe-bg {
        img {
            max-width: 1366px;
        }
    }
    .suscribe-bg-cover {
        height: 574px;
        width: 1366px;
        left: -93px;
    }
    .client-data {
        min-width: 505px;
    }
    // * FOOTER
    .footer-bg-cup-left {
        display: block;
    }
    .footer-bg-cup-right {
        display: block;
    }
    .footer-content {
        padding-top: 162px;
        display: flex;
        justify-content: space-between;
    }
    .footer-content-general .general-info {
        display: block;
    }
    .footer-content-about {
        display: block;
    }
    .footer-content-company {
        display: block;
    }
}